@import url('https://fonts.jimstatic.com/css?family=Nunito+Sans:600');
@import url('https://fonts.jimstatic.com/css?family=Open+Sans:300,400');

body {
  background-color: #f7f7f7;
  padding: 7px 5px 0;
  -webkit-text-size-adjust: 100%;
}

#container {
  font-family: Open Sans,sans-serif;
  display: none;
  margin: 50px auto;
  max-width: 720px;

  th {
    font-weight: 400;
    background-color: #dddddd;
    text-align: left;
    font-size: 14px;
    padding: 6px 8px;
  }

  td {
    font-weight: 300;
    padding: 4px 8px;
    font-size: 12px;

    strong {
      font-size: 14px;
      font-weight: 400;
    }
  }

  tr {
    &:nth-child(odd) {
      td {
        background-color: #eeeeee;
      }
    }
  }

  th, td {
    &:last-child {
      text-align: center;
      width: 10%;
    }
  }

  table {
    width: 100%;
  }

  &.show {
    display: block;
  }
}

footer {
  padding: 60px 0 30px;
  text-align: center;

  #mih {
    text-transform: uppercase;
    line-height: 16px;
    color: #999;
    font-family: Nunito Sans,sans-serif;
    letter-spacing: .07em;
    font-size: 12px;
  }

  #version a {
    font-family: Nunito Sans,sans-serif;
    letter-spacing: .07em;
    font-size: 12px;
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #ddd;
      text-decoration: underline;
    }
  }

  #sbstjn {
    font-family: Nunito Sans,sans-serif;
    font-size: 14px;

    a {
      color: #666;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg {
    height: 70px;
    max-width: 120px;
    path {
      fill: #ddd;
    }
  }
}

.loader {
  margin: 100px auto;
  font-size: 8px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% { box-shadow: 0em -2.6em 0em 0em #cccccc, 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.5), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.7); }
  12.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.7), 1.8em -1.8em 0 0em #cccccc, 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.5); }
  25% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.5), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.7), 2.5em 0em 0 0em #cccccc, 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  37.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.5), 2.5em 0em 0 0em rgba(200, 200, 200, 0.7), 1.75em 1.75em 0 0em #cccccc, 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  50% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.5), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.7), 0em 2.5em 0 0em #cccccc, -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  62.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.5), 0em 2.5em 0 0em rgba(200, 200, 200, 0.7), -1.8em 1.8em 0 0em #cccccc, -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  75% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.5), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.7), -2.6em 0em 0 0em #cccccc, -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  87.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.5), -2.6em 0em 0 0em rgba(200, 200, 200, 0.7), -1.8em -1.8em 0 0em #cccccc; }
}
@keyframes load5 {
  0%,
  100% { box-shadow: 0em -2.6em 0em 0em #cccccc, 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.5), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.7); }
  12.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.7), 1.8em -1.8em 0 0em #cccccc, 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.5); }
  25% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.5), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.7), 2.5em 0em 0 0em #cccccc, 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  37.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.5), 2.5em 0em 0 0em rgba(200, 200, 200, 0.7), 1.75em 1.75em 0 0em #cccccc, 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  50% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.5), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.7), 0em 2.5em 0 0em #cccccc, -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2), -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  62.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.5), 0em 2.5em 0 0em rgba(200, 200, 200, 0.7), -1.8em 1.8em 0 0em #cccccc, -2.6em 0em 0 0em rgba(200, 200, 200, 0.2), -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  75% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.5), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.7), -2.6em 0em 0 0em #cccccc, -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2); }
  87.5% { box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2), 1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2), 2.5em 0em 0 0em rgba(200, 200, 200, 0.2), 1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2), 0em 2.5em 0 0em rgba(200, 200, 200, 0.2), -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.5), -2.6em 0em 0 0em rgba(200, 200, 200, 0.7), -1.8em -1.8em 0 0em #cccccc; }
}
