@import url(https://fonts.jimstatic.com/css?family=Nunito+Sans:600);

body {
  background-color: #f7f7f7;
  padding: 7px 5px 0;
  min-width: 520px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

#container {
  margin: 50px auto;
  width: 480px;
  
  p {
    margin: 0px;
  }

  a {
    font-family: Nunito Sans,sans-serif;
    font-size: 12px;
    letter-spacing: .07em;
    color: #ccc;
    text-decoration: none;
  }
}

footer {
  padding: 60px 0 30px;
  text-align: center;

  #mih {
    text-transform: uppercase;
    line-height: 16px;
    color: #999;
    font-family: Nunito Sans,sans-serif;
    letter-spacing: .07em;
    font-size: 12px;
  }

  #version a {
    font-family: Nunito Sans,sans-serif;
    letter-spacing: .07em;
    font-size: 12px;
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #ddd;
      text-decoration: underline;
    }
  }

  #sbstjn {
    font-family: Nunito Sans,sans-serif;
    font-size: 14px;

    a {
      color: #666;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg {
    height: 70px;
    max-width: 120px;
    path {
      fill: #ddd;
    }
  }
}
